[Unit]
Description=Status Switch Observer
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/statusswitch
Restart=on-failure
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
